<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sistema de Gestión de Permisos - Orion</title>
        <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    
    <link rel="stylesheet" href="#" type="text/css" th:href="@{/assets/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700"/>
    <link rel="stylesheet" href="#" type="text/css" th:href="@{/assets/fonts/font-awesome.min.css}"/>
    <link rel="stylesheet" href="#" type="text/css" th:href="@{/assets/fonts/simple-line-icons.min.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand"/>
    <link rel="stylesheet" href="#" type="text/css" th:href="@{/assets/css/Contact-Form-Clean.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/css/lightbox.min.css"/>
    <link rel="stylesheet" href="#" type="text/css" th:href="@{/assets/css/login-form.css}"/>
    <link rel="stylesheet" href="#" type="text/css" th:href="@{/assets/css/login-form1.css}"/>
    <link rel="stylesheet" href="#" type="text/css" th:href="@{/assets/css/menu.css}"/>
    <link rel="stylesheet" href="#" type="text/css" th:href="@{/assets/css/OcOrato---Contact-Information-bar-line-with-e-mail-link-1.css}"/>
    <link rel="stylesheet" href="#" type="text/css" th:href="@{/assets/css/Pretty-Footer.css}"/>
    <link rel="stylesheet" href="#" type="text/css" th:href="@{/assets/css/styles.css}"/>
    <link rel="stylesheet" href="#" type="text/css" th:href="@{/assets/css/Pretty-Table.css}"/>
    <link rel="stylesheet" href="#" type="text/css" th:href="@{/assets/css/Pretty-Table1.css}"/>
    
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand"><img src="#" th:src="@{/assets/img/orion.jpg}" id="logo"/>Gestión Permisos - Orion</a>
            <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav navbar-right">
                <li role="presentation"><a href="#" th:href="@{/menu/micuenta}">Mi Cuenta </a></li>
                <li role="presentation"><a href="#" th:href="@{/permisos/mispermisos}">Mis Permisos </a></li>
                <li role="presentation"><a href="#" th:href="@{/permisos/permisoform?idPermiso=0}">Generar Permiso </a></li>
                <li role="presentation" class="active"><a href="#">Autorizar Permisos </a></li>
                <li role="presentation">
	                <form th:action="@{/logout}" method="POST">
						<button class="btn btn-lg btn-primary btn-block" type="submit">
							<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
								Salir
						</button>
					</form>
				</li>
            </ul>
        </div>
    </div>
</nav>
    <div id="promo">
        <div class="container full-height">
            <div class="datagrid">
                <table class="table">
                    <thead>
                        <tr>
							<th>ID DEL PERMISO</th>
							<th>RUT SOLICITANTE</th>
							<th>ESTADO</th>
							<th>MOTIVO</th>
							<th>TIPO</th>
							<th>RESOLUCION</th>
							<th>FECHA DE SOLICITUD</th>
							<th>FECHA INICIO</th>
							<th>FECHA TERMINO</th>
							<th>DEPTO</th>
							<th>Actions</th>
							<th></th>
                        </tr>
                    </thead>
                    <tbody>
						<tr th:each="deptopermisos : ${deptopermisos}">
							<td th:text="${deptopermisos.idPermiso}"></td>
							<td th:text="${deptopermisos.rutFuncionario}"></td>
							<td th:text="${deptopermisos.nombreEstado}"></td>
							<td th:text="${deptopermisos.descripcionMotivo}"></td>
							<td th:text="${deptopermisos.nombreTipo}"></td>
							<td th:text="${deptopermisos.resolucionPermiso}"></td>
							<td th:text="${deptopermisos.fechaSolicitud}"></td>
							<td th:text="${deptopermisos.fechaInicio}"></td>
							<td th:text="${deptopermisos.fechaTermino}"></td>
							<td th:text="${deptopermisos.fechaTermino}"></td>
							<td th:text="${depto.nombreDepto}"></td>
	
							<td>
								<a href="#">
									<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
								</a>
							</td>
						</tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="12">
                                <div class="paging">
                                    <ul>
                                        <li>
                                            <a href="#"> <span>Previous </span></a>
                                        </li>
                                        <li>
                                            <a href="#" class="active"> <span>1 </span></a>
                                        </li>
                                        <li>
                                            <a href="#"> <span>2 </span></a>
                                        </li>
                                        <li>
                                            <a href="#"> <span>3</span></a>
                                        </li>
                                        <li>
                                            <a href="#"> <span>Next </span></a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 footer-navigation">
                    <h3><a href="#">Sistema De GEstión de Permisos <span>Orion </span></a></h3>
                    <p class="links"><a href="#">Gestión </a><strong> · </strong><a href="#">Automatización </a><strong> · </strong><a href="#">Seguridad </a><strong> · </strong><a href="#">Confidencialidad - Integridad.</a>
                        <a href="#"> </a><strong> </strong>
                        <a href="#"> </a>
                    </p>
                    <p class="company-name">Sistema Orion© 2017 </p>
                </div>
                <div class="col-md-4 col-sm-6 footer-contacts">
                    <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                        <p><span class="new-line-span">Clientes: </span> Municipalidad Vista Hermosa</p>
                    </div>
                    <div><i class="fa fa-phone footer-contacts-icon"></i>
                        <p class="footer-center-info email text-left"> +569 - XXXXXXXX</p>
                    </div>
                    <div><i class="fa fa-envelope footer-contacts-icon"></i>
                        <p> <a href="#" target="_blank">SistemaOrion@orion.com</a></p>
                    </div>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-4 footer-about">
                    <h4>¿Quienes somos?</h4>
                    <p>########################################### </p>
                    <div class="social-links social-icons">
                        <a href="#"></a>
                        <a href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="#" type="text/javascript" th:src="@{/assets/js/jquery.min.js}"></script>
    <script src="#" type="text/javascript" th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/js/lightbox-plus-jquery.min.js"></script>
</body>

</html>