<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Orion - Add/modify Contact</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

	<div class="jumbotron">
		<div class="container">
			<h1>GENERAR PERMISO</h1>
			<br/>
			<form action="#" th:action="@{/permisos/addpermiso}" th:object="${permiso}" method="post">
				<input type="hidden" th:field="*{idPermiso}"></input>
				<input type="hidden" th:field="${funcionario.rutFuncionario}" th:value="${funcionario.rutFuncionario}" th:text="${funcionario.rutFuncionario}"></input>
				<br/>
				<input type="hidden" th:field="*{fechaSolicitud}" ></input>
				<br/>
				Fecha Inicio: <input type="date" th:field="*{fechaInicio}"></input>
				<br/>
				Fecha Termino: <input type="date" th:field="*{fechaTermino}"></input>
				<br/>
				<input type="hidden" th:field="*{resolucionPermiso}"></input>
				<br/>
				<br/>
				<div class="form-group">
 					<label class="col-md-3 control-label">Motivo: </label>
					    <div class="col-md-5">
						    <div th:if="${motivo != null}">
						         <select th:field="*{motivo}">
						             <option th:each="dropDownItem : ${motivo}"
						                             th:value="${dropDownItem.idMotivo}"
						                             th:text="${dropDownItem.descripcionMotivo}" />
						         </select>
	    					</div>
						    <div th:if="${motivo == null}">
						        <div>"Motivo no encontrado, porfavor contactar as servicio técnico."</div>
						    </div>
						</div>
				</div>
				<br/>
				<div class="form-group">
 					<label class="col-md-3 control-label">Tipo: </label>
					    <div class="col-md-5">
						    <div th:if="${tipo != null}">
						         <select th:field="*{tipo}">
						             <option th:each="dropDownItem : ${tipo}"
						                             th:value="${dropDownItem.idTipo}"
						                             th:text="${dropDownItem.nombreTipo}" />
						         </select>
	    					</div>
						    <div th:if="${tipo == null}">
						        <div>"Tipo no encontrado, porfavor contactar as servicio técnico."</div>
						    </div>
						</div>
				</div>
				<br/><br/>
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Accept
				</button>
			</form>
			<a href="#" th:href="@{/permisos/cancel}">
				<button class="btn btn-lg btn-primary btn-block" type="submit">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
				</button>
			</a>
			
		</div>
	</div>

</body>
</html>